.section1 {
    background-color: $backgroundSection1;
    display: flex;
    flex-direction: column;
    padding-top: 20%;
    flex-wrap: wrap;
    height: 50vh;
    

}
.text {
    color: $colorTextB;
    transform: scale(0.9);
    &-title {
            color: $colorTextB;
            font-size: 2.5rem;
            padding-bottom: 5%;
            font-weight: bold;
    
        }
   
&-1 {
    
    font-size: 1.5rem;
    padding-bottom: 5%;
    font-weight: bold;
    line-height: 1.5;
}
&-2 {
    // padding: 0 5%;
    line-height: 1;
    padding-top: 5%;
    


}
}